    html {
        overflow-y: auto;
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    body {
        overflow: auto;
        background: #E5E5E5;
    }
    
    .page-container {
        width: 100%;
        height: 1180;
        min-width: 960px;
        max-width: 1349px;
        left: 0%;
        top: 0%;
    }
    
    button:hover {
        border: 2px solid rgb(87, 87, 87);
    }
    
    .text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*----------------------------------*/
    /*-----------------------------------------------------*/
    /*-----------SIDE_BAR----------------*/
    
    .sidebar {
        /* sidebar */
        display: block;
        position: absolute;
        width: 225px;
        height: 1024px;
        left: 0px;
        top: 0px;
        background: none;
    }
    
    .logo {
        position: absolute;
        width: 54%;
        left: 23%;
        top: 15px;
        transform: scale(0.7, 0.7)
    }
    
    .effect_sb {
        /* effect_sb */
        display: flow-root;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: url(../img/effect_sb.png);
    }
    
    .background_sb {
        /* background_sb */
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg, #A9DE55 0%, rgb(124, 167, 57) 100%);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    .menu_sb {
        position: absolute;
        color: white;
        top: 200px;
        left: 15%;
        font-size: 18px;
        line-height: 50px;
    }
    
    .A_menu_sb {
        text-decoration: none;
        color: white;
        height: 50px;
        width: 191px;
        position: inherit;
        padding-left: 15px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.3s ease;
    }
    
    .A_menu_sb:hover {
        background: rgba(255, 255, 255, 0.445);
    }
    /*----------------------------------*/
    /*-----------------------------------------------------*/
    /*-----------TOP_BAR----------------*/
    
    .topbar {
        position: fixed;
        max-width: 1600px;
        min-width: 600px;
        height: 40px;
        left: 230px;
        top: 0px;
        -webkit-transition: top 0.3s ease;
        -moz-transition: top 0.3s ease;
        transition: top 0.3s ease;
    }
    
    .up {
        top: -60px;
    }
    
    .background_tb {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0%;
        top: 0%;
        background: #FFFFFF;
        border-radius: 22px;
    }
    
    .search {
        position: absolute;
        width: 50%;
        max-width: 500px;
        min-width: 50px;
        height: 74%;
        left: 10px;
        top: 13%;
        background: #F0F1F3;
        border-radius: 35px;
        border: 0px;
    }
    
    .search_line {
        position: absolute;
        width: 85%;
        left: 2%;
        bottom: 15%;
        background: none;
        border: none;
        color: rgb(138, 138, 138);
    }
    
    .search_line:focus {
        color: rgb(82, 82, 82);
    }
    
    .search_button {
        position: absolute;
        left: 90%;
        top: 0%;
        background: rgb(87, 87, 87);
        background-size: contain;
        height: 100%;
        width: 15%;
        border: 0px;
        border-radius: 35px;
    }
    
    .search_button:hover {
        background: rgb(73, 73, 73);
    }
    
    .add_AD {
        position: absolute;
        width: 30%;
        height: 100%;
        left: 107%;
        border: none;
        background: #4255F4;
        border-radius: 30px;
        padding-left: 31px;
        text-align: left;
        color: #FFFFFF;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.07em;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .small_add_AD {
        padding: 0;
        width: 30px;
        color: rgba(255, 255, 255, 0);
    }
    
    .ad_advert_img {
        position: absolute;
        height: 74%;
        left: 3.8px;
        top: 13%;
    }
    
    .profilebar {
        position: absolute;
        width: 200px;
        height: 74%;
        top: 13%;
        right: 10px;
        background: none;
    }
    
    .block_message {
        position: absolute;
        width: 55%;
        height: 100%;
        border: none;
        border-right: 2px solid #D3DBCB;
        border-left: 2px solid #D3DBCB;
    }
    
    .message_but {
        position: absolute;
        left: 10%;
        height: 100%;
        width: 30px;
        background: #D3DBCB;
        border: none;
        border-radius: 50%
    }
    
    .bell_but {
        position: absolute;
        right: 10%;
        height: 100%;
        width: 30px;
        background: #D3DBCB;
        border: none;
        border-radius: 50%
    }
    
    .avatar {
        position: absolute;
        right: 10%;
        height: 100%;
        width: 30px;
        background: #D3DBCB;
        border: none;
        border-radius: 50%
    }
    
    .mail_icon {
        position: absolute;
        width: 66%;
        height: 56%;
        left: 17%;
        top: 22%;
    }
    
    .bell_icon {
        position: absolute;
        width: 66%;
        height: 70%;
        left: 17%;
        top: 15%;
    }
    
    .but_sign_in {
        position: absolute;
        width: 80px;
        height: 74%;
        top: 13%;
        right: 2%;
        border: none;
        background: #4255F4;
        border-radius: 30px;
        padding-left: 31px;
        text-align: left;
        font-stretch: wider;
        color: #FFFFFF;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.1em;
    }
    /*----------------------------------*/
    /*-----------------------------------------------------*/
    /*-----------CONTENT_BOCK----------------*/
    
    .content_block {
        position: absolute;
        left: 230px;
        top: 50px;
        width: 82.5%;
        max-width: 1600px;
        min-width: 600px;
        height: 974px;
        border-radius: 22px;
        background: rgb(255, 255, 255);
    }
    /*----------------------------------*/
    /*-----------------------------------------------------*/
    /*-----------FUTER----------------*/
    
    .footer {
        position: absolute;
        top: 1034px;
        width: 100%;
        height: 500px;
        border-top: 20px solid rgb(53, 53, 53);
        background: rgb(61, 61, 61);
    }
    
    #lofofooter {
        display: block;
        position: absolute;
        height: 70px;
        bottom: 20px;
        right: 20px;
    }
    /*----------------------------------*/
    /*-----------------------------------------------------*/
    /*-----------SIGN IN BAR----------------*/
    
    .login_bg {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #6868689f;
    }
    
    .login-wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        max-width: 550px;
        min-height: 600px;
        max-height: 640px;
        border-radius: 30px;
        margin: 1% 0 0 0;
        background: linear-gradient(180deg, #A9DE55 0%, rgb(124, 167, 57) 100%);
    }
    
    .login-html {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 50px 70px 50px 70px;
    }
    
    .sign-in {
        margin-bottom: 10px;
    }
    
    .login-html .sign-in-htm,
    .login-html .sign-up-htm {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: all .4s linear;
    }
    
    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check {
        display: none;
    }
    
    .login-html .tab,
    .login-form .group .label,
    .login-form .group .button {
        text-transform: uppercase;
    }
    
    .label {
        color: #FFFFFF;
        margin-bottom: 7px;
    }
    /*.button:hover {
        border: 2px solid rgb(87, 87, 87);
    }*/
    
    .login-html .tab {
        font-size: 22px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }
    
    .login-html .sign-in:checked+.tab,
    .login-html .sign-up:checked+.tab {
        color: #fff;
        border-color: #1161ee;
    }
    
    .login-form {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    
    .login-form .group {
        margin-bottom: 15px;
    }
    
    .login-form .group .label,
    .login-form .group .input,
    .login-form .group .button {
        width: 100%;
        color: #fff;
        display: block;
    }
    
    .login-form .group .input,
    .login-form .group .button {
        border: none;
        padding: 15px 20px;
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.226);
    }
    
    .login-form .group input[data-type="password"] {
        text-security: circle;
        -webkit-text-security: circle;
    }
    
    .login-form .group .label {
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    
    .login-form .group .button {
        background: #1161ee;
    }
    
    .login-form .group label .icon {
        width: 15px;
        height: 15px;
        border-radius: 2px;
        position: relative;
        display: inline-block;
        background: rgb(255, 255, 255);
    }
    
    .login-form .group label .icon:before,
    .login-form .group label .icon:after {
        content: '';
        width: 10px;
        height: 2px;
        background: #fff;
        position: absolute;
        transition: all .2s ease-in-out 0s;
    }
    
    .login-form .group label .icon:before {
        left: 3px;
        width: 5px;
        bottom: 6px;
        transform: scale(0) rotate(0);
    }
    
    .login-form .group label .icon:after {
        top: 6px;
        right: 0;
        transform: scale(0) rotate(0);
    }
    
    .login-form .group .check:checked+label {
        color: #fff;
    }
    
    .login-form .group .check:checked+label .icon {
        background: #1161ee;
    }
    
    .login-form .group .check:checked+label .icon:before {
        transform: scale(1) rotate(45deg);
    }
    
    .login-form .group .check:checked+label .icon:after {
        transform: scale(1) rotate(-45deg);
    }
    
    .login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
        transform: rotate(0);
    }
    
    .login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
        transform: rotate(0);
    }
    
    .hr {
        height: 2px;
        margin: 60px 5px 50px 5px;
        background: rgba(255, 255, 255, .2);
    }
    
    .foot-lnk {
        text-align: center;
    }
    
    .login-form {
        margin-top: 20px;
    }
    
    #tab-1 {
        margin-bottom: 20px;
    }